#particles-js {
  background-color: #ffffff; /* Set background color */

  position: fixed; /* Use fixed positioning */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Ensure it takes the full viewport height */
  overflow: hidden;
  z-index: -1; /* Place it behind other elements */
}

@font-face {
  font-family: "FF Mark Pro";
  src: url("fonts/ffmarkpro.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.home-page-content {
  width: 90%;
  height: 400px;
  margin: auto;
  /* background-size: 200px; */
  display: flex;
}

.section-title-sizing {
  width: 50%;
  display: inline-block;
}

.section-title {
  font-family: "FF Mark Pro", sans-serif;
  height: 100%;
  font-weight: normal;
  font-size: 300%;
  color: red;
  text-align: left;
  display: block;
  padding: 20px;
}

.home-summary {
  width: 50%;
}

.section-information {
  font-family: "FF Mark Pro", sans-serif;
  font-weight: normal;
  font-size: 35px;
  color: rgb(0, 0, 0);
  text-align: left;
  margin: 40px 20px 20px 20px;
}

.about-button {
  font-family: "FF Mark Pro", sans-serif;
  color: #ffffff;
  background-color: #eb1b24;
  font-weight: bold;
  padding: 20px;
  font-size: 1em;
  margin: 20px;
  text-decoration: none;
  color: "inherit";
  position: relative;
  text-align: center; /* Centers text without flex */
  display: inline-block; /* Prevent collapsing of dimensions */
  vertical-align: middle; /* Aligns text properly */
  z-index: 10;
}

.about-button:hover {
  background-color: #d3242d;
}

.about-button::after {
  content: ""; /* Empty content for the line */
  position: absolute;
  right: 0; /* Where it transitions towards! */
  width: 0; /* Start with no width */
  height: 100%; /* Thickness of the line */
  bottom: 0;
  background-color: #302929;
  transition: width 0.3s ease; /* Smooth transition */
  z-index: -1;
}

.about-button:hover::after {
  /* content: attr(data-text); */
  position: absolute;
  text-align: center;
  left: 0;
  width: 100%; /* Expand the line to full width on hover */
  background-color: #302929;
  z-index: -1;
}
